<div class="row">
    <h1>Educacion</h1>

    <div  class="col-lg-11"></div>
<ul>
 <li>
     <h1>Educacion 1</h1> <h3>(Años)</h3>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officiis ex! At odio, commodi obcaecati, doloremque inventore, sint vitae non harum fugiat ipsam soluta eaque dolor enim labore est ullam.</p>
 </li>   
</ul>
<ul>
    <li>
        <h1>Educacion 2</h1> <h3>(Años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officiis ex! At odio, commodi obcaecati, doloremque inventore, sint vitae non harum fugiat ipsam soluta eaque dolor enim labore est ullam.</p>
    </li>   
   </ul>
   <ul>
    <li>
        <h1>Educacion 3</h1> <h3>(Años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officiis ex! At odio, commodi obcaecati, doloremque inventore, sint vitae non harum fugiat ipsam soluta eaque dolor enim labore est ullam.</p>
    </li>   
   </ul>

</div>