<div   class="row">
    <h1 >Experiencia</h1>
    <div > <button class="agregar" *ngIf="isLogged" mat-mini-fab color="secondary" (click)="AgregarExp()"><mat-icon>adding </mat-icon></button>
    </div>
      
    <div class="col-xs-2 col-sm-4 col-md-8 col-lg-12">
            <table class="table table-white" >
                 <tbody>
                  <tr *ngFor="let experiencia of experienciaLista">
                  <td>{{experiencia.empresa}}</td>
                  <td>{{experiencia.actividad}}</td>
                  <td><button *ngIf="isLogged" mat-mini-fab color="accent"  [routerLink]="['/editar-experiencia',experiencia.id]"  ><mat-icon>edit</mat-icon></button>
                    <button *ngIf="isLogged" mat-mini-fab color="warn" [routerLink]="['/eliminar-experiencia',experiencia.id]" ><mat-icon >delete</mat-icon></button>
                  </td>
                           
                </tr>

              </tbody>
          </table>
            