<div class="row">
    <h1>Hard & soft Skill</h1>
    <div > <button class="agregar" *ngIf="isLogged" mat-mini-fab color="secondary" ><mat-icon>adding </mat-icon></button>
    </div>
    <div class="col-sm-4" *ngFor="let hard of hardLista"  >
      <circle-progress 
  [percent]="hard.porcentaje"
  [radius]="100"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'orange'"
  [imageSrc]= "hard.img"
  [showImage]="true"
  [imageWidth]="80"
  [imageHeight]="80"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress><h3>{{hard.nombre}}</h3>
<div class="col-6"><img src="hard.img" alt=""></div>
   
       <button *ngIf="isLogged" mat-mini-fab color="accent"  ><mat-icon>edit</mat-icon></button>
         <button *ngIf="isLogged" mat-mini-fab color="warn" ><mat-icon >delete</mat-icon></button>
       </div>   
   </div>
