<div class="row">
    <h1>Hard & soft Skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [imageSrc]= "'../assets/Bootstrap_logo.svg.png'"
    [showImage]="true"
    [imageWidth]="90"
    [imageHeight]="90"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="30"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [imageSrc]= "'../assets/html.png'"
    [showImage]="true"
    [imageWidth]="90"
    [imageHeight]="90"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [imageSrc]= "'../assets/Angular.png'"
    [showImage]="true"
    [imageWidth]="90"
    [imageHeight]="90"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [imageSrc]= "'../assets/javascrip.jpg'"
    [showImage]="true"
    [imageWidth]="90"
    [imageHeight]="90"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>
<div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [imageSrc]= "'../assets/mysql.png'"
    [showImage]="true"
    [imageWidth]="90"
    [imageHeight]="90"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [imageSrc]= "'../assets/spring boot.png'"
    [showImage]="true"
    [imageWidth]="90"
    [imageHeight]="90"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>
</div>
