
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoPerfil.jpeg" class="img-fluid" id="fotoDePerfil">
        </div> 
        
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
            <p id="titulo">{{persona.titulo}}</p>
        </div>
      <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h1>Acerca de mi</h1>
            <p id="informacion">{{persona.informacion}}</p>  </div>
</div>


